@featuretteMarginSides: 70px;
@featuretteMarginTop: 120px;



.btn-large {
    small.meta {
        display: block;
        font-size: @baseFontSize - 4px;
    }
}


.featurette {
    //padding-top: @featuretteMarginTop; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */

    .featurette-divider {
          margin: 80px 0 @featuretteMarginTop+80px 0;
    }
    .featurette-graphics {
        float: right;
        margin: -@featuretteMarginTop 0 @featuretteMarginSides @featuretteMarginSides;
        i.featurette-huge-icon {
            font-size: 420px;
        }
        .stacked-buttons {
            width: 300px;
            .box-sizing(border-box);
            margin: 0 auto 0 auto;
            .btn {
                margin-top: 10px;
                display: block;
                position: relative;
                padding-left: 70px;
                text-align: left;
                i {
                    position: absolute;
                    top: 8px;
                    left: 12px;
                    font-size: 45px;
                }
            }
        }
    }
    &:nth-child(odd) {
        .featurette-graphics {
            float: left;
            margin: -@featuretteMarginTop @featuretteMarginSides @featuretteMarginSides 0;
        }
    }
    h2 {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }
    &#help {
        .buttonbar {
            line-height: 74px;
            .btn-large {
                position: relative;
                i {
                    position: absolute;
                    top: 8px;
                    left: 10px;
                    font-size: 45px;
                }
                padding-left: 58px;
                text-align: left;
            }
        }
    }
}
//.featurette-image {
  //margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
//}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
//.featurette-image.pull-left {
  //margin-right: 40px;
//}
//.featurette-image.pull-right {
  //margin-left: 40px;
//}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
