.marketing {
    margin-top: 40px;
    .marketing-huge-icon {
        font-size: 150px;
    }

    /* Center align the text within the three columns below the carousel */
    .span4 {
        text-align: center;
        p {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    h2 {
        font-weight: normal;
    }
}

