.bigcarousel .js{overflow:hidden;zoom:1;}
.bigcarousel .carousel,
.bigcarousel .carousel .carousel-wrap{margin:0;border:0;zoom:1;}
.bigcarousel .js .carousel-wrap{display:inline-block;vertical-align:middle;width:800px;margin:0 5px 15px;border:1px solid #4f4f4f;background:#1a1a1a;}
.IE .bigcarousel .js .carousel-wrap{display:inline;}
.bigcarousel .carousel ul{margin:0;padding:0;zoom:1;}
.bigcarousel .js ul li{overflow:hidden;display:inline;float:left;width:800px;height:700px;text-align:center;zoom:1;}
.bigcarousel .carousel .carousel-control{overflow:hidden;display:inline-block;vertical-align:middle;width:40px;height:40px;cursor:pointer;line-height:999px;zoom:1;border:0;text-indent:-9999px;}
.bigcarousel .carousel .carousel-next{background:url(next.png) 0 0 no-repeat;}
.bigcarousel .carousel .carousel-previous{background:url(prev.png) 0 0 no-repeat;}
.bigcarousel .carousel .carousel-control:hover{-moz-opacity:.7;opacity:0.70;filter:alpha(opacity=70);}
.bigcarousel .carousel .disabled,.bigcarousel .carousel .disabled:hover{-moz-opacity:.1;opacity:0.10;filter:alpha(opacity=10);cursor:default;}
.bigcarousel .carousel div{margin:0;padding:0;border:0;}
.bigcarousel .carousel ul{padding:0;list-style:none;}
.bigcarousel .carousel ul li{position:relative;width:800px;margin:0;}
.bigcarousel .carousel ul li cite{position:absolute;bottom:3px;right:10px;line-height:19px;font-size:11px;}
.bigcarousel .carousel ul li cite a img{vertical-align:middle;}
.bigcarousel .carousel ul li cite a{color:#fff;text-decoration:none;}
.bigcarousel div.center-wrap{overflow:hidden;clear:both;zoom:1;}
.bigcarousel div.center-wrap div{border:0;margin:15px 0;}
.bigcarousel div.center-wrap a{margin:0 2px;padding:2px 5px;border:1px solid #4f4f4f;background:#333;cursor:pointer;color:#fff;-moz-border-radius:12px;webkit-border-radius:12px;border-radius:12px;}
.bigcarousel div.center-wrap a.active{font-weight:bold;color:#5db0e6;}
